{% extends "base.html" %} 
{% load wagtailimages_tags %}

{% block content %}

{% include "./components/header.html" %}
<main class="py-16 px-4">
  <section
    class="relative flex w-full shadow-lg rounded-xl overflow-hidden"
  >
  {% image page.hero_image original class="w-full h-72 md:h-84 lg:h-96 object-cover" %}
    <div
      class="absolute top-0 left-0 flex w-full h-full bg-black/40 items-center justify-center flex-col gap-6 text-white text-center px-4"
    >
      <h2
        class="text-2xl font-bold md:text-3xl lg:text-4xl md:w-1/2 lg:mt-4"
      >
        {{ page.hero_text }}
      </h2>
    </div>
  </section>
  {% include "./components/search_form.html" %}
  <section
    class="flex flex-col gap-20 sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-x-16 px-4 md:px-16 w-full"
  >
        {% if search_results %}
            {% for property in search_results %} 
                {% include "property/components/property_card.html" with property=property %}
            {% endfor %}
        {% else %}
            {% include "property/components/no_property_card.html" %}
        {% endif %}
  </section>
  {% if search_results.has_other_pages %}
  <div class="w-auto px-5 md:max-w-350 md:px-10 mt-6 md:mt-10">
    <div class="-mx-3.75">
      {% include "./components/pagination.html" with subpages=search_results %}
    </div>
  </div>
  {% endif %}
</main>
{% endblock content %}
