{% extends "base.html" %} {% block content %}

{% load wagtailimages_tags %}
<main class="py-16 px-4">
  <section
    class="relative flex w-full shadow-lg rounded-xl overflow-hidden"
  >
  {% image page.hero_image original class="w-full h-72 md:h-84 lg:h-96 object-cover" %}
    <div
      class="absolute top-0 left-0 flex w-full h-full bg-black/40 items-center justify-center flex-col gap-6 text-white text-center px-4"
    >
      <h2
        class="text-2xl font-bold md:text-3xl lg:text-4xl md:w-1/2 lg:mt-4"
      >
        {{ page.hero_text }}
      </h2>
    </div>
  </section>
  {% comment %} <search
    class="group text-black dark:text-white sticky top-2 z-10 mx-auto -mt-24 mb-36 flex  justify-center items-center p-2 gap-2 caret-accent outline outline-white/20 rounded-xl bg-slate-200 dark:bg-zinc-900 has-focus:outline-accent has-focus:outline-2 has-focus:not-dark:bg-slate-100 transition-all text-sm md:text-base w-2/3 sm:w-fit"
    searchFilter="{searchFilter}"
    setSearchFilter="{setSearchFilter}"
  /> {% endcomment %}
  <section
    class="flex flex-col gap-20 sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-x-16 px-4 md:px-16 w-full"
  >
    {% with properties=page.get_children %} 
        {% if properties %}
            {% for property in properties %} 
                {% include "property/components/property_card.html" with property=property.specific %}
            {% endfor %}
        {% else %}
            {% include "property/components/no_property_card.html" %}
        {% endif %}
    {% endwith %}
  </section>
</main>
{% endblock content %}
