<form method="get" class="group text-black dark:text-white sticky top-2 z-10 mx-auto -mt-24 mb-36 flex  justify-center items-center p-2 gap-2 caret-accent outline outline-white/20 rounded-xl bg-slate-200 dark:bg-zinc-900 has-focus:outline-accent has-focus:outline-2 has-focus:not-dark:bg-slate-100 transition-all text-sm md:text-base w-2/3 sm:w-fit">
    {% comment %} <Search size="18" className="group-has-focus:*:text-accent" /> {% endcomment %}
    <input
      name="query"
      type="text"
      placeholder="Search for properties"
      class="focus:outline-0 w-2/3 lg:w-fit placeholder:italic placeholder:opacity-90"
      {% if search_query %} value="{{ search_query }}"{% endif %}
    />
    {% comment %} <button
        type="button"
        class="-m-2 p-1.5 rounded-md hover:scale-125"
      >
      
        {% comment %} <Settings2 className="group-has-focus:*:text-accent" /> 
    </button> {% endcomment %}
    <input class="bg-black text-white dark:bg-white dark:text-black rounded-md px-2 py-1 text-sm hover:bg-transparent hover:outline dark:hover:outline-white hover:text-black dark:hover:text-white w-fit transition-all duration-300" type="submit" value="search"/>
</form>